{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-zalopay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-zalopay" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_zalopay_status" id="input-status" class="form-control">
                {% if zalopay_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-key-secret">{{ entry_app_id }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_zalopay_app_id" value="{{ zalopay_app_id}}" placeholder="{{ entry_app_id }}" id="input-key-secret" class="form-control" />
              {% if error_app_id %}
              <div class="text-danger">{{ error_app_id }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-key-id"><span data-toggle="tooltip" title="{{ help_key1 }}">{{ entry_key1 }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_zalopay_key1" value="{{ zalopay_key1 }}" placeholder="{{ entry_key1 }}" id="input-key-id" class="form-control" />
              {% if error_key1 %}
              <div class="text-danger">{{ error_key1 }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-key-secret">{{ entry_key2 }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_zalopay_key2" value="{{ zalopay_key2}}" placeholder="{{ entry_key2 }}" id="input-key-secret" class="form-control" />
              {% if error_key2 %}
              <div class="text-danger">{{ error_key2 }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_environment }}</label>
            <div class="col-sm-10">
              <select name="payment_zalopay_environment" id="input-status" class="form-control">
                {% if zalopay_environment == "sandbox" %}
                <option value="sandbox" selected="selected">{{ text_environment_sandbox }}</option>
                <option value="production">{{ text_environment_production }}</option>
                {% else %}
                <option value="sandbox">{{ text_environment_sandbox }}</option>
                <option value="production" selected="selected">{{ text_environment_production }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}